main {
    position: relative;
    padding: 20px;
    height: 70vh; /* Ensure it takes the full viewport height */
    font-family: "Copperplate", fantasy;
}

body {
    background-image: url(https://i.imgur.com/NaSMR7P.png);
    background-size: cover;
    background-repeat: no-repeat;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
    height: 400px;
}

header h1 {
    font-family: "Copperplate", fantasy;
    font-size: 80px;
    color: #333;
    position: relative;
    bottom: 40px;
}
header img {
    height: 200px;
    width: 200px;
}

/* Service Bar Styles */
.service_bar {
    text-align: left;
    width: auto;
    height: 65px;
    border: 2px solid black;
    margin-bottom: 20px;
    position: relative;
    bottom: 70px;
}

.service_list {
    display: inline;
    padding: 15px;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
    font-family: "Copperplate", fantasy;
}

.area_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 40px; /* Space between items */
    width:65%;
    padding: 20px;
}

.area-card {
    height: 200px;
    border-radius: 8px;
    margin-top: 60px;
    background-color:#ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.area-name {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}



.guest_container {
    position: absolute;
    right: 20px; /* Distance from the right edge */
    top: 100px; /* Distance from the top edge */
    width: 300px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    background-color: #ccc;
    overflow-y: auto;
    border-radius: 8px;
}
.contact_info {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color:#ccc;
    border-top: 1px solid #ccc;
}

.contact_info p {
    margin: 5px 0;
    font-size: 1rem;
    font-family: "Copperplate", fantasy;
}
